@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
}

.first-section{
  background-color: #1F2937;
}

.body{
  font-family: 'Roboto', sans-serif;
}

#header-logo{
  font-size: 48px;
  color: #F9FAF8;
}

.header-link{
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px;
  display: flex;
  align-items: center;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 100px 0;
}

.navbar-left{
  display: flex;
  width: 50%;
  align-items: center;
}

.navbar-right{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content:space-between;
  
}

.navbar-item-margin{
  margin-right: 15px;

}

.navbar-item{
  color: white;
  text-decoration: none;
}

ul{
  color: white;
}

h1{
  font-size: 36px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-bottom: 30px;
}

.content{
  display: flex;
  padding: 50px 100px 125px;
}

.content-right{
  
}

.content-left{
  
}

.p-first{
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up-first-section{
  background-color: #38c0f6;
  color: white;
  width: 100px;
  height: 40px;
  border: 1px solid #38d0f6;
  border-radius: 10px;
}

h2{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-top: 30px;
}

.row-of-blue-divs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 50px;
}

.second-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-blue-msg p{
  text-align: center;
  width: 180px;
  margin-bottom: 10px;
}


.p-second img{
  border: 3px solid #3882F6;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
  flex-direction: column;
  margin-bottom: 10px;

  
}

.third-section{
  background-color: #E5E7EB;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

h3{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F3927;
  text-align: center;
  margin: 100px;
}

.p-third{
  font-size: 18px;
  text-align: end;
}

#p-div{
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}

.last-div{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-container{
  background-color: #3882F6;
  width: 75%;
  height: 40%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.left{
  width: 80%;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h4{
  font-size: 24px;
  color: white;
}

.last-p{
  color: white;
  font-size: 18px;
}

.right{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.btn-last-div{
  background-color: #3882F6;
  color: white;
  width: 100px;
  height: 40px;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 100px;
  text-align: center;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  height: 75px;
}

nav ul{
  list-style-type: none;
  display: flex;
  gap: 1.5em;
  display: flex;
  flex-direction: row;
}